<div style="background-color: #37b5ff; height: 170px">
<div style="margin-left: 500px">
  <a href="https://www.instagram.com/ymit.academy/" style="margin-top: 85px"><img class="align-middle" src="assets/images/instaicon.png" style="width: 50px; height: 50px;"></a>
  <a href="https://taplink.cc/ymit.academy" class="btn align-middle btn-outline-light" style="background-color: #37b5ff; color: white; margin-bottom: 65px; margin-top: 65px; margin-left: 130px">Записаться на онлайн урок / стать учителем</a>
</div>
</div>
