<div class="my-3">
<div class="card-group">
  <div class="card bg-primary">
    <img src="assets/images/language.PNG" style="width: 100%; length: 100%">
    <div class="card-body text-center">
      <p class="card-text">Сайты для изучения языков</p>
    </div>
  </div>
  <div class="card bg-warning">
    <img src="assets/images/postuplenie.PNG" style="width: 100%; length: 100%">
    <div class="card-body text-center">
      <p class="card-text">Полезные телеграм каналы для поступления</p>
    </div>
  </div>
  <div class="card bg-success">
    <img src="assets/images/webDev.PNG" style="width: 100%; length: 100%">
    <div class="card-body text-center">
      <p class="card-text">Бесплатные курсы для изучения Web Development</p>
    </div>
  </div>
  <div class="card bg-danger">
    <img src="assets/images/onlineCourses.PNG" style="width: 100%; length: 100%">
    <div class="card-body text-center">
      <p class="card-text">Чек лист по онлайн курсам</p>
    </div>
  </div>
</div>
</div>
