<div class="card-group">
    <div class="card" style="background-color: #3196CF">
      <div class="card-body">
        <h4 class="card-text text-center" style="color: #D0E5F1">Мы обучаем детей (4-11 класс) из семей:</h4>
        <ul>
          <li class="card-text" style="color: #D0E5F1">Полицейских</li>
          <li class="card-text" style="color: #D0E5F1">Медработников</li>
          <li class="card-text" style="color: #D0E5F1">Многодетных</li>
          <li class="card-text" style="color: #D0E5F1">С ограниченными финансовыми возможностями</li>
        </ul>
      </div>
    </div>
    <div class="card" style="background-color: #ff0b10">
      <div class="card-body">
        <h4 class="card-text text-center" style="color: #EFDEDE">Через какие платформы мы проводим уроки:</h4>
        <ul>
          <li class="card-text" style="list-style-type:none; color: #EFDEDE"><img src="../../assets/images/googlemeet.png" width="25px" height="25px"> Google Meet</li>
          <li class="card-text" style="list-style-type:none; color: #EFDEDE"><img src="../../assets/images/zoom.png" width="25px" height="25px"> Zoom</li>
          <li class="card-text" style="list-style-type:none; color: #EFDEDE"><img src="../../assets/images/discord.png" width="25px" height="25px"> Discord</li>
        </ul>
      </div>
    </div>

  </div>

