<h3 style="text-align: center" class="mt-5">Оставьте отзыв:</h3>
<div class="col-lg-6 mx-auto text-center form">
    <div>
        <form action="" class="justify-content-center">
          <h4 class="display-5 text-truncate" style="text-align: left">Отзыв:</h4>
            <div class="form-group">
                <textarea class="form-control" [(ngModel)]='newRev' id="exampleFormControlTextarea1" rows="3" placeholder="Введите отзыв"></textarea>
            </div>
            <button type="submit" (click)='handleButtonClick()' class="btn btn-info">Отправить</button>
        </form>
    </div>
</div>
