<div class="col-lg-6 mx-auto text-center form mt-5">
  <h4 class="display-5 text-truncate" style="text-align: left">Ваше имя:</h4>
  <div>
    <form [formGroup]="revForm" class="justify-content-center" (ngSubmit)="revForm.valid && addReview(newReview)">
      <div class="form-group">
        <input required type="text" class="form-control" placeholder="Введите имя" #newName [(ngModel)]="newReview.name" formControlName="newName" [ngClass]="{'is-invalid': revForm.get('newName').touched && revForm.get('newName').invalid}">
      </div>
      <h4 class="display-5 text-truncate" style="text-align: left">Отзыв:</h4>
      <div class="form-group">
        <textarea class="form-control" #newRev [(ngModel)]="newReview.rev"  id="exampleFormControlTextarea1" rows="3" placeholder="Введите отзыв" required formControlName="newRev" [ngClass]="{'is-invalid': revForm.get('newRev').touched && revForm.get('newRev').invalid}"></textarea>
      </div>
      <button type="submit" class="btn btn-info" [disabled]='!revForm.valid'>Отправить</button>
    </form>
  </div>
</div>
