<div class="container mt-5">
  <h3 style="text-align: center; margin-bottom: 50px">My Profile</h3>
  <hr style="alignment: center; width: 1000px; color: #37b5ff">
  <h5 style="margin-top: 50px">Имя: </h5> <span><p>{{firstname}}</p></span>
  <hr style="alignment: center; width: 700px; color: #37b5ff">
  <h5>Фамилия: </h5> <span><p>{{lastname}}</p></span>
  <hr style="alignment: center; width: 700px; color: #37b5ff">
  <h5>Школа: </h5> <span><p>{{school}}</p></span>
  <hr style="alignment: center; width: 700px; color: #37b5ff">
  <h5>Почта: </h5> <span><p>{{email}}</p></span>
</div>
