<form class="my-5 ml-5">
  <div *ngFor="let i of testQuestions">
    <p>{{i.question}}</p>
    <ul style="list-style-type: none">
      <li><label><input name="{{i.q}}" type="radio" value="a"> {{i.ans1}}</label></li>
      <li><label><input name="{{i.q}}" type="radio" value="b"> {{i.ans2}}</label></li>
      <li><label><input name="{{i.q}}" type="radio" value="c"> {{i.ans3}}</label></li>
      <li><label><input name="{{i.q}}" type="radio" value="d"> {{i.ans4}}</label></li>
      <hr>
    </ul>
  </div>
  <input type="submit" class="btn btn-secondary" (click)="submitAnswers()">
</form>
