<!--<app-newrev (newReview)="addRev($event)"></app-newrev>
<app-allrev [reviewsOnly]="reviewsOnly"></app-allrev> -->
<h3 style="text-align: center" class="mt-5">Оставьте отзыв:</h3>
<div class="col-lg-6 mx-auto text-center form">
  <h4 class="display-5 text-truncate" style="text-align: left">Ваше имя:</h4>
  <div>
    <form action="" class="justify-content-center">
      <div class="form-group">
        <label class="sr-only">Name</label>
        <input type="text" #newName class="form-control" placeholder="Введите имя">
      </div>
      <h4 class="display-5 text-truncate" style="text-align: left">Отзыв:</h4>
      <div class="form-group">
        <textarea class="form-control" #newRev id="exampleFormControlTextarea1" rows="3" placeholder="Введите отзыв"></textarea>
      </div>
      <button type="submit" (click)='handleButtonClick(newName.value, newRev.value)' class="btn btn-info">Отправить</button>
    </form>
  </div>
</div>
<div class="container">
  <h4 class="ml-5">Отзывы:</h4>
  <ul class="list-group my-3 mx-5">
    <li *ngFor="let i of reviews" class="list-group-item"><h5>{{i.name}}</h5><br>{{i.review}}</li>
  </ul>
</div>
