<nav class="navbar navbar-expand-md navbar-light" style="background-color: #37b5ff">
  <a class="navbar-brand ml-3" routerLink="/"><img src="../../assets/images/logo.png" style="width: 45px; height: 45px" class="mr-2">Ymit academy</a>
  <ul class="navbar-nav mx-auto">
    <li class="nav-item">
      <button type="button" routerLink="userslist" class="btn">Список пользователей</button>
    </li>
    <li class="nav-item">
      <button type="button" class="btn" routerLink="reviewslist">Список отзывов</button>
    </li>
    <li class="nav-item">
      <button type="button" class="btn" routerLink="subjectslist">Список предметов</button>
    </li>
  </ul>
  <div>
    <ul class="navbar-nav">
      <li class="nav-item">
        <button type="button" class="btn" (click)="logout()">Выйти</button>
      </li>
    </ul>
  </div>
</nav>
<div class="container my-5">
</div>
