<div class="container my-5">
<div class="btn-group btn-group-lg" >
  <button type="button" style="width: 400px" class="btn btn-outline-info btn-block my-3" routerLink="userslist">Список пользователей</button>
  <button type="button" style="width: 400px" class="btn btn-outline-info btn-block my-3" routerLink="reviewslist">Список отзывов</button>
  <button type="button" style="width: 400px" class="btn btn-outline-info btn-block my-3" routerLink="subjectslist">Список предметов</button>
</div>
</div>
